<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>nol1920</display-name>
  <welcome-file-list>
    <welcome-file>portada.html</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>token</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolalu</role-name>
      <role-name>rolpro</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/index.html</form-login-page>
      <form-error-page>/error.html</form-error-page>
    </form-login-config>
  </login-config>
  <servlet>
    <display-name>log_pro</display-name>
    <servlet-name>log_pro</servlet-name>
    <servlet-class>log_pro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log_pro</servlet-name>
    <url-pattern>/log_pro</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>log_alu</display-name>
    <servlet-name>log_alu</servlet-name>
    <servlet-class>log_alu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log_alu</servlet-name>
    <url-pattern>/log_alu</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getAsignaturas</display-name>
    <servlet-name>getAsignaturas</servlet-name>
    <servlet-class>getAsignaturas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAsignaturas</servlet-name>
    <url-pattern>/getAsignaturas</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getAlumnos</display-name>
    <servlet-name>getAlumnos</servlet-name>
    <servlet-class>getAlumnos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAlumnos</servlet-name>
    <url-pattern>/getAlumnos</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>setNotas</display-name>
    <servlet-name>setNotas</servlet-name>
    <servlet-class>setNotas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setNotas</servlet-name>
    <url-pattern>/setNotas</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getInfoAlumno</display-name>
    <servlet-name>getInfoAlumno</servlet-name>
    <servlet-class>getInfoAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getInfoAlumno</servlet-name>
    <url-pattern>/getInfoAlumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getInfoAsig</display-name>
    <servlet-name>getInfoAsig</servlet-name>
    <servlet-class>getInfoAsig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getInfoAsig</servlet-name>
    <url-pattern>/getInfoAsig</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getFoto</display-name>
    <servlet-name>getFoto</servlet-name>
    <servlet-class>getFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFoto</servlet-name>
    <url-pattern>/getFoto</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>fotos</param-name>
    <param-value>fotos</param-value>
  </context-param>
</web-app>